automation/n8n/workflows/group-therapy-scheduling-google-calendar.json
{
  "name": "Ataraxia - Group Therapy Scheduling",
  "nodes": [
    {
      "parameters": {
        "content": "Ataraxia group scheduling workflow.\n\nWebhook payload expected from backend:\n{\n  \"sessionId\": \"uuid\",\n  \"userId\": \"uuid\",\n  \"aliasAnonimo\": \"Luna\",\n  \"email\": \"optional@example.com\",\n  \"phone\": \"+502...\",\n  \"modalidad\": \"grupal\",\n  \"joinMode\": \"scheduled\",\n  \"scheduledAt\": \"2026-07-05T20:00:00.000Z\",\n  \"timezone\": \"America/Guatemala\",\n  \"roomId\": \"group:general\"\n}\n\nTo finish setup: open the Google Calendar node and connect the Google credential/calendar.",
        "height": 340,
        "width": 460,
        "color": 4
      },
      "id": "8c44db97-0640-4285-9e0f-681f5beac6ad",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ataraxia/group-session-scheduling",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "af57ed90-353d-4421-a3f2-5db59ea69d4f",
      "name": "Ataraxia Scheduling Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        20
      ],
      "webhookId": "ataraxia-group-session-scheduling"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\n\nconst scheduledAt = input.scheduledAt ? new Date(input.scheduledAt) : null;\nconst validScheduledAt = scheduledAt && !Number.isNaN(scheduledAt.getTime());\nconst durationMinutes = Number(input.durationMinutes ?? 60);\nconst endAt = validScheduledAt\n  ? new Date(scheduledAt.getTime() + durationMinutes * 60 * 1000)\n  : null;\n\nconst alias = String(input.aliasAnonimo ?? 'Participante anónimo').trim();\nconst modalidad = input.modalidad ?? 'grupal';\nconst joinMode = input.joinMode ?? null;\nconst roomId = input.roomId ?? 'group:general';\nconst timezone = input.timezone ?? 'America/Guatemala';\n\nreturn [{\n  json: {\n    request: input,\n    shouldCreateCalendarEvent: modalidad === 'grupal' && joinMode === 'scheduled' && Boolean(validScheduledAt),\n    reason: !validScheduledAt ? 'missing_or_invalid_scheduledAt' : modalidad !== 'grupal' ? 'not_group_modality' : joinMode !== 'scheduled' ? 'not_scheduled' : 'ready',\n    calendar: {\n      summary: 'Ataraxia - sesión grupal',\n      description: [\n        `Alias: ${alias}`,\n        `Session ID: ${input.sessionId ?? 'n/a'}`,\n        `Room: ${roomId}`,\n        input.email ? `Email: ${input.email}` : null,\n        input.phone ? `Phone: ${input.phone}` : null,\n        '',\n        'Nota: evento generado por n8n desde Ataraxia. No incluir nombres reales de participantes en el titulo.'\n      ].filter(Boolean).join('\\n'),\n      start: validScheduledAt ? scheduledAt.toISOString() : null,\n      end: endAt ? endAt.toISOString() : null,\n      timezone,\n      attendees: input.email ? [{ email: input.email }] : []\n    }\n  }\n}];"
      },
      "id": "2494d150-3034-4c38-9ac8-39ac2f0fdd4c",
      "name": "Normalize Scheduling Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7b6f61b7-b8f5-4478-a2e5-15421fb7c8ea",
              "leftValue": "={{ $json.shouldCreateCalendarEvent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d60b11e2-2521-405b-b5fd-06011202bc47",
      "name": "Should Create Calendar Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        180,
        20
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "start": "={{ $json.calendar.start }}",
        "end": "={{ $json.calendar.end }}",
        "additionalFields": {
          "attendees": "={{ $json.calendar.attendees }}",
          "description": "={{ $json.calendar.description }}",
          "summary": "={{ $json.calendar.summary }}",
          "timeZone": "={{ $json.calendar.timezone }}"
        }
      },
      "id": "e1f3bfbf-3d21-4bc0-a891-727a8a1dad7d",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        460,
        -100
      ],
      "notes": "Connect the Google Calendar OAuth credential here. Calendar defaults to primary."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  action: 'calendar_event_created',\n  workflow: 'ataraxia-group-therapy-scheduling',\n  calendarEventId: $json.id,\n  htmlLink: $json.htmlLink,\n  request: $('Normalize Scheduling Payload').item.json.request\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "0f9e9967-6542-407c-a188-f3ad4a4a1724",
      "name": "Respond Calendar Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        760,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  action: 'calendar_event_skipped',\n  reason: $json.reason,\n  workflow: 'ataraxia-group-therapy-scheduling'\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "02e1b69f-2ba2-4974-90a9-a10e57df5f6e",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        460,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ataraxia Scheduling Webhook": {
      "main": [
        [
          {
            "node": "Normalize Scheduling Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Scheduling Payload": {
      "main": [
        [
          {
            "node": "Should Create Calendar Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Calendar Event?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Respond Calendar Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c02ec60-dfc1-47c3-98f3-511e1e2701d1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "ataraxia-group-therapy-scheduling",
  "tags": [
    {
      "name": "ataraxia"
    },
    {
      "name": "hackathon"
    },
    {
      "name": "scheduling"
    }
  ]
}
